body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", sans-serif;
    color: #1b1b1b;
    background: linear-gradient(to bottom right, rgb(181, 245, 255), pink);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
  }

  
  .header {
    background-color: rgba(255, 255, 255, 0.945);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  
  .header-container {
    max-width: 1070px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .menu {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 3;
  }
  
  .menu ul, .side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul a {
    font-size: 20px;
    font-weight: 600;
    color: #615f5f;
    padding: 10px 15px;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px;
    padding: 10px 15px;
  }
  
  
  .login {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .login a {
    margin-right: 20px;
    padding: 10px 30px;
    background-color: rgba(96, 211, 217, 0.945);
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;
    font-size: 14px;
  }
  
  .login a:hover {
    background-color: rgba(17, 183, 192, 0.945);
    color: #fff;
  }
  
  .h2{
    margin: 20;
    margin-left: 49%;
  }
  


  .page-content {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1070px;
    margin: 0 auto;
    width: 100%;
  }


  .container{
    flex: 3;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir Next", sans-serif;
    margin-top: 5%;
    margin-inline: 10%;
    padding: 30px;
    padding-inline: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    min-height: 20vh;
    max-width: 40vw;
    backdrop-filter: blur(20px) brightness(100%);
    background-color: rgba(255, 255, 255, 0.788);
  }
  
  .list-group {
    margin-bottom: 20px;
  }


  .side-nav {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9176470588);
    padding: 0px;
    margin-top: 40px;
    margin-right: 20px;
    padding-left: 0px;
    font-size: 18px;
    border-radius: 10px;
  }
  

  .side-nav a {
    text-decoration: none;
    padding: 5px;
    display: block;
  }


  .side-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-nav ul li {
    text-align: left;
    padding-left: 0px;
    color: #615f5f;
    font-weight: 540;
  }
  
  .side-nav ul li a:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-block: 6px;
    margin-inline: 6px;
  }
  
  .side-nav ul li.active a {
    background-color: rgba(96, 211, 217, 0.945);
    border-radius: 10px;
    margin-block: 6px;
    margin-inline: 6px;
    color: #fff;
}

  
  .side-nav ul li a {
    display: block;
    padding: 20px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    text-decoration: none;
    margin-top: 6px;
    margin-inline: 6px;
  }
  
  
  .active a {
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  .side-nav li:hover a {
    transition: background-color 0.3s ease; 
  }



  .list {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 5;
  }
  
  .list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
  }
  
  .list ul li {
    display: inline;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 25px;
    color: #4f4f4f;
  }


  .list-group-form {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .list-group-item-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir Next", sans-serif;
    margin-top: 5%;
    margin-inline: 10%;
    padding: 30px;
    padding-inline: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    min-height: 20vh;
    max-width: 60vw;
    width: auto;
    backdrop-filter: blur(20px) brightness(100%);
    background-color: rgba(255, 255, 255, 0.788);
  }

  .list-group-item-form  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5%;
    font-family: "Avenir Next", sans-serif;
  
  }

  form{
    width: 60%;
  }

  .list-group-option{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }



  .btn {
    border: none;
    cursor: pointer;
    border-radius: 20px;
  
  }
  
  .edit{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items:flex-end;
  }
  
  
  .edit a {
    color: #4f4f4f; 
    background-color: rgba(210, 210, 210, 0.742); 
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    width: 60px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    border-radius: 25px;
  }
  
  
  .btn {
    text-decoration: none;
    padding: 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    color: #ffffff; 
  }
  
  .btn-danger {
    background-color:#eeeeee00; 
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    color: #e74c3c; 
  }
  
  .btn-add{
    background-color:#fffdfd; 
    text-decoration: none;
    padding: 10px;
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    color: #7b7b7bba; 
  }
  
  
  
  
  h5 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .newquestion
  {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

    li{
        margin-bottom: 5px;
    }


.list-group-form input[type="text"], .list-group select {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid rgba(208, 236, 253, 0.749);
    border-radius: 10px;
    box-sizing: border-box; 
    background-color: #f9f9f9;
  }
  
  .list-group-item-form label {
    display: block;
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .list-group-item-form button[type="submit"] {
    background-color: rgba(96, 211, 217, 0.945);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 40%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    font-weight: 600;
  }
  
  .list-group-item-form button[type="submit"]:hover {
    background-color: rgba(17, 183, 192, 0.945);
  }
  

  .list-group-option input[type="text"]{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid rgba(208, 236, 253, 0.749);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }

 .list-group-item-form  select {
    width: 10%;
    padding: 1px;
    margin: 10px auto;
    height: 30px;
    border: 1px solid rgba(208, 236, 253, 0.749);
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .list-group-option label {
    display: block;
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.6);
  }
  
 